{% extends "!page.html" %}
{% block header %}
<div class="pageheader">
  <div align="center">
    <br/>
    <table id="topnav-table">
      <tr>
        <td valign="middle">
          CubeBraid Resources:
            <a href="https://www.cubebraid.com/">官方网站</a>
            |
            <a href="https://github.com/GJXS1980/cubebraid_sdk">SDK 源码</a>
            |
            <a href="https://github.com/GJXS1980/cubebraid_documentation/issues">问题反馈</a>

        </td>
      </tr>
    </table>
  </div>
</div>
{% endblock %}
{% block body %}
{{ super() }}
{% endblock %}
